.container {
  display: block;
  justify-content: center;
}
.card {
  text-align: justify;
  margin: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 0 4 black;
}
.question {
  background-color: chocolate;
  opacity: 80%;
  margin-bottom: 30px;
}
.coach {
  background-color: yellow;
  opacity: 80%;
  margin-bottom: 30px;
}

 /* *= require_tree .
 *= require_self
 */
